/*for menu-bar*/
#h-pri {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#B2D281 none repeat scroll 0 0;
clear:left;
float:left;
height:40px;
font-size:100%;
position:relative;
min-width:1120px;
width:100%;
}

/*for category-bar*/
#h-sec {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#7AA13D url(/static/media/core/images/main/menu-secondary.gif) no-repeat scroll 100% 100%;
clear:both;
float:left;
height:40px;
min-width:1120px;
width:100%;
z-index:1200000;
}

/*for main contents inspired by digg*/
#contents {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/static/media/core/images/main/main-back.gif) no-repeat scroll 100% 0;
clear:both;
min-width:1120px;
padding:0 15px 6px 0;
}

/*inspired by digg*/
#wrapper {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/static/media/core/images/main/main-back.gif) no-repeat scroll 0 0;
padding:15px 0 0 15px;
}

#wrapper.list {
position:relative;
}

.main {
margin-right:330px;
}

.mainBlockTitle {
color:#3399CC;
font-size:1.5em;
}

.list .sidebar {
clear:none;
float:none;
position:absolute;
right:0;
top:45px;
}

#blocks *{
  /**/
  margin: 0;
  padding: 0;
}
#blocks{
    text-align: left;
    padding: 0;
    margin: 0;
    min-width:860px;
}

#blocks li{
    width: 30%;
    min-width: 170px;
    list-style: none;
    /* IE6 and IE7 */
    *float: left;
}
/* Hack for Firefox */
#blocks li {display:inline-block; } 
#blocks li , x:-moz-any-link {display:-moz-inline-box; padding-top:0.5em;} 
#blocks li , x:-moz-any-link, x:default {display:inline-block; padding-top:0;}

#blocks .singleBlock{
     background: transparent url(/static/media/core/images/blocks/blockback.png) 0 0 no-repeat;
     height: 240px;
     width: 184px;
     padding: 1px 4px 0 1px;
     overflow: hidden;
     margin: 3px auto;
}

#blocks .singleBlock .screenshot {
     height: 120px;
     text-align: center;
}

#blocks .singleBlock img{
    vertical-align: top;
}
    
#blocks .singleBlock .title{
    padding: 0 0 0 8px;
    width: 163px;
    margin: 0 8px 0 0;
    font-size: 1em;
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#blocks .singleBlock .description{
    padding: 0 0 0 8px;
    margin: 5px 0;
    height: 4em;
    line-height: 1em;
    font-size: 0.9em;
    overflow: hidden;
    width: 163px;
}
#blocks  .singleBlock .description .desc{
    color: #333;
    text-decoration: none;
}
#blocks .singleBlock .download{
    background: transparent url(/static/media/core/images/blocks/Button_launch.png) 0 0 no-repeat;
    margin: 5px auto;
    padding: 3px 8px 5px 0px;
    text-align: center;
    display: block;
    width: 160px;
    height: 17px;
    font-weight: bold;
    text-decoration: none;
}
#blocks .singleBlock .download:hover{background-position: 0 50%; color: white;}
#blocks .singleBlock .download:active{background-position: 0 100%; color: white;}

.pages {
clear:left;
font-size:85%;
margin:1em 0;
padding:1em;
}

.pages span.nextprev {
border:1px solid #DDDDDD;
color:#999999;
}

.pages span.current {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#2E6AB1 none repeat scroll 0 0;
border:1px solid #2E6AB1;
color:#FFFFFF;
font-weight:bold;
}

.pages a {
border:1px solid #9AAFE5;
text-decoration:none;
}

.pages a, .pages span {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #FFFFFF;
display:block;
float:left;
margin-right:0.1em;
padding:0.2em 0.5em;
}

.sidebar {
clear:left;
float:right;
margin:0 0 2em;
min-height:500px;
width:300px;
}

.side-container {
clear:both;
font-size:100%;
padding:10px 0 2em;
}

.side-container h2.topten {
float:left;
white-space:nowrap;
}

.side-container h2 {
font-size:125%;
font-weight:bold;
line-height:1;
margin:0 0 3px;
}

.side-container h2 {
font-size:125%;
font-weight:bold;
line-height:1;
margin:0 0 3px;
}

.side-container .news-thumb {
}

.side-container h3 {
font-size:100%;
letter-spacing:0;
line-height:1.2;
margin:0;
overflow:hidden;
padding:2px 0 0;
}

.side-container h3 a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
display:block;
font-weight:normal;
letter-spacing:0;
padding-top:0;
text-decoration:none !important;
width:250px;
}

.side-container .news-thumb h3 a {
width:214px;
}

.side-container .news-summary, .p-archive .news-summary {
border-top:1px solid #DDDDDD;
clear:both;
float:left;
min-height:39px;
padding-bottom:2px !important;
padding-top:2px;
}

.side-container .news-summary a, .p-archive .news-summary a {
padding-left:44px;
line-height:1.3;
}

.news-summary, .news-full, .news-full-confirm {
clear:left;
min-height:55px;
padding:0.7em 0 2.5em;
position:relative;
}

element.style {
display:block;
}

.sidebar .news-thumb h3 img {
float:left;
height:30px;
margin-right:8px;
padding:1px;
width:30px;
}
.sidebar .img-thumb h3 em, .sidebar .vid-thumb h3 em, .sidebar .news-thumb h3 em {
display:block;
height:30px;
text-indent:-2000em;
width:30px;
}

#recommended-list a:link, #recommended-list a:visited {
text-decoration:none;
}

/*inspired by digg*/
#footer {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/static/media/core/images/main/footer.gif) no-repeat scroll 100% 0;
clear:both;
min-height:180px;
min-width:1120px;
padding-right:20px;
position:relative;
text-align:left;
}

.footer-contents {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/static/media/core/images/main/footer.gif) no-repeat scroll 0 0;
float:left;
padding-left:10px;
padding-top:25px;
}

.footer-contents2 {
color:#8696A4;
}

#footer .col, #footer .col-last {
border-right:1px solid #DDDDDD;
float:left;
margin:10px 0 0;
min-height:210px;
padding:1px 0;
position:relative;
width:18.5%;
}

#footer dl.col-prime {
margin-bottom:0.7em;
}

#footer dl {
margin:0;
}

#footer dt {
font-size:105%;
font-weight:bold;
letter-spacing:-0.02em;
padding:0 10px;
}

#footer dd {
font-size:85%;
margin:0;
padding:3px 10px;
}

/*inspired by digg*/
.copyright {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E5ECF3 url(/static/media/core/images/main/footer.gif) no-repeat scroll 0 -385px;
clear:both;
color:#999999;
font-size:85%;
min-width:1120px;
padding:0 0 0 15px;
}

.copyright div {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/static/media/core/images/main/footer.gif) no-repeat scroll 100% -385px;
padding:30px 15px 40px 0;
}

